<div class="hours-list">  
  {{#with (formatHours this "Monday" "TimeFormatShort" "DateFormatShort") }}
      {{#each this.regularHours}}
      <div class="{{this.displayDay}} grid grid-cols-3 lg:grid-cols-3 time-row leading-8 ">
        <div class="lg:col-span-2">
          <strong class="font-normal">{{this.displayDay}}</strong>
        </div>
        <div class="lg:col-span-3">
          {{#if this.isClosed}}<div class="closed ml-4">closed</div>{{/if}}
          {{#if this.is247}}Open 24/7{{/if}}
          {{#each this.openIntervals}}
            {{this.start}}-{{this.end}}
          {{/each}}
        </div>
      </div>
      {{/each}}
  {{/with}}
</div>

</div>
 {{!-- {{#with (formatHours this "Monday" "TimeFormatShort" "DateFormatShort") }}
      {{#each this.regularHours}}
      <div class="{{this.displayDay}} time-row  flex  flex-row w-auto justify-start xl:justify-start text-sm  p-2 xl:text-xs 2xl:text-sm time-row odd-even lg:grid-cols-5 "data-day="{{this.displayDay}}">
        <div class="w-[80px] xl:w-[70px] 2xl:w-[80px] ">
          <strong class="days_values" >{{this.displayDay}}</strong>
 
        </div>
        <div class=" flex hrs-line " id="dots">
            {{#if this.isClosed}} closed {{/if}}
          {{#if this.is247}}Open 24/7{{/if}}
          {{#each this.openIntervals}}
            <div class="tsrt"> {{this.start}}-{{this.end}} </div>
          {{/each}}
        </div>
      </div>
      {{/each}}
  {{/with}} --}}
